@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #121414;
    color: #e3e2e2;
    -webkit-font-smoothing: antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.luxury-card-hover {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.luxury-card-hover:hover {
  transform: translateY(-8px);
  border-color: #e9c176;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #121414;
}
::-webkit-scrollbar-thumb {
  background: #343535;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e9c176;
}

/* Luxury Fade In Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(15px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}
